{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
</head>
<body>
    <h1>Hello world</h1>
</body>
</html>